*
{
	margin: 0px;
	padding: 0px;
}

html, body
{
	overflow: hidden;
}

.splashbody
{
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
    background: -webkit-radial-gradient(center center, #B9EFD9, #00D296);
    background: -o-radial-gradient(center center, #B9EFD9, #00D296);
    background: -moz-radial-gradient(center center, #B9EFD9, #00D296);
    background: radial-gradient(center center, #B9EFD9, #00D296);
}

.absolutecenter {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 70%;
}