@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
}

* {
    outline: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #00D296;
    font-family: 'OpenSans';
    font-weight: 300;
}

#header-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
}

#header {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#body-wrapper {
    width: 100%;
    position: relative;
    z-index: 0;
}

#body {
    position: relative;
    z-index: 3;
    width: 85%;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

/* SPLASH */
#splash img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    position: absolute;
}

/* MAPA */

#header-wrapper.mapa {
    background: #5ABFB4;
    height: 3.5rem;
    box-shadow: 0 0 1px 0px #555;
}

#header-wrapper.mapa h1 {
    margin: 0 0 0 15%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    font-size: 1.3rem;
}

#body-wrapper.mapa {
    background: #78FFF0;
    width: 100%;
    height: 94%;
}

#body-wrapper.mapa img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    position: absolute;
}

/* MENU */
#header-wrapper.main-menu {
    background: #BF8932;
    height: 3.5rem;
}

#header-wrapper.main-menu #header a {
    display: block;
    background: url(./images/feedback.png);
    background-size: 3rem;
    border: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: -30px;
    right: -10px;
}

#header-wrapper.main-menu #header a:active {
    background: url(./images/feedback_pressed.png);
    background-size: 3rem;
    transform: translateY(2px);
    outline: none;
}

#header-wrapper.main-menu #header img {
    height: 50%;
    margin-left: 15%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#body-wrapper.main-menu::before {
    content: '';
    width: 100%;
    height: 6rem;
    background: #FFB743;
    position: absolute;
    box-shadow: 0 0 2px 0 #333 inset;
}

#body-wrapper.main-menu {
    background: #00D296;
}

#body-wrapper.main-menu #body {
    padding: 3rem 0;
}

#menu {
    background: #FFF;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 0 3px 0px #555;
}

#menu li a {
    display: block;
    text-decoration: none;
    color: #1DB47D;
    border-bottom: 1px solid #DDD;
    vertical-align: middle;
    height: 4rem;
    line-height: 4rem;
    padding-left: calc(2.5rem + 10%);
    font-size: 100%;
}

#menu li a:hover, #menu li a:active {
    outline: none;
    background-color: #EEE;
}

#menu li a.btn-conheca {
    background-image: url(./images/conheca.png);
    background-repeat: no-repeat;
    background-position: 5% center;
    background-size: 2.5rem;
}

#menu li a.btn-defeso {
    background-image: url(./images/defeso.png);
    background-repeat: no-repeat;
    background-position: 5% center;
    background-size: 2.5rem;
}

#menu li a.btn-creditos {
    background-image: url(./images/creditos.png);
    background-repeat: no-repeat;
    background-position: 5% center;
    background-size: 2.5rem;
}

#menu li a.btn-estamos {
    background-image: url(./images/estamos.png);
    background-repeat: no-repeat;
    background-position: 5% center;
    background-size: 2.5rem;
}

/* O QUE E O DEFESO */
#header-wrapper.defeso {
    background: #009D70;
    height: 3.5rem;
    box-shadow: 0 0 1px 0px #555;
}

#header-wrapper.defeso #header a {
    display: inline-block;
    background: url(./images/back_button.png);
    background-size: 2.2rem;
    border: none;
    width: 2.2rem;
    height: 2.2rem;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header-wrapper.defeso #header a:active {
    background: url(./images/back_button_pressed.png);
    background-size: 2.2rem;
    outline: none;
}

#header-wrapper.defeso #header h1 {
    margin: 0 0 0 15%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    font-size: 1.3rem;
}

#body-wrapper.defeso {
    background: #00D296;
}

#body-wrapper.defeso #body {
    padding: 1rem 0;
}

#body-wrapper.defeso #body div {
    background: #FFF;
    padding: 1rem;
    box-shadow: 0 0 3px 0px #555;
    color: #3ABE8D;
}

/* ESTAMOS NO DEFESO */
#header-wrapper.estamos-sim {
    background: #A5151B;
    height: 3.5rem;
    box-shadow: 0 0 1px 0px #555;
}

#header-wrapper.estamos-sim #header a {
    display: inline-block;
    background: url(./images/back_button.png);
    background-size: 2.2rem;
    border: none;
    width: 2.2rem;
    height: 2.2rem;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header-wrapper.estamos-sim #header a:active {
    background: url(./images/back_button_pressed.png);
    background-size: 2.2rem;
    outline: none;
}

#header-wrapper.estamos-sim #header h1 {
    margin: 0 0 0 15%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    font-size: 1.3rem;
}

#body-wrapper.estamos-sim {
    background: #00D296;
}

#body-wrapper.estamos-sim::before {
    content: '';
    width: 100%;
    height: 12rem;
    background: #DC1C24;
    position: absolute;
    box-shadow: 0 0 2px 0 #333 inset;
}

#body-wrapper.estamos-sim #body img {
    margin: 1.5rem auto;
    width: 80%;
    display: table;
}

#body-wrapper.estamos-sim #body ul {
    background: #FFF;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 0 3px 0px #555;
}

#body-wrapper.estamos-sim #body ul li {
    display: block;
    text-decoration: none;
    color: #1DB47D;
    padding: 1rem 1rem 1rem 3.5rem;
    background-image: url(./images/topic.png);
    background-repeat: no-repeat;
    background-position: 5% 1.3rem;
    background-size: 1.5rem;
}

#body-wrapper.estamos-sim #body ul li span {
    font-family: 'OpenSansBold';
}

/* CREDITOS */
#body-wrapper.creditos #body {
    padding: 1rem 0;
}

#body-wrapper.creditos #body ul {
    background: #FFF;
    margin: 0;
    padding: 3rem 15%;
    list-style: none;
    box-shadow: 0 0 3px 0px #555;
}

#body-wrapper.creditos #body ul li {
    margin: 0 0 2rem;
    padding: 0;
}

#body-wrapper.creditos #body ul li:last-child {
    margin-bottom: 0;
}

#body-wrapper.creditos #body ul li img {
    max-width: 100%;
}

#body-wrapper.creditos #body #feedback {
    display: block;
    background: url(./images/feedback.png);
    background-size: 3rem;
    border: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: -10px;
    right: 30px;
}

#body-wrapper.creditos #body #feedback:active {
    background: url(./images/feedback_pressed.png);
    background-size: 3rem;
    transform: translateY(2px);
    outline: none;
}

/* CARANGUEIJO */
